.icon {
  // display: inline;
  width: 3.125rem;
  height: 3.125rem;

  &--logo {
    width: 6.125rem;
    height: 4.625rem;
  }
  &--meat {
    width: 6rem;
    height: 5.56rem;
  }
  &--hand {
    width: 6rem;
    height: 5.31rem;
  }
  &--natural {
    width: 6rem;
    height: 4.68rem;
  }
  &--vk {
    width: 1.25rem;
    height: 1.25rem;
  }
  &--fb {
    width: 1.25rem;
    height: 1.25rem;
  }
  &--inst {
    width: 1.25rem;
    height: 1.25rem;
  }
  &--twitter {
    width: 1.25rem;
    height: 1.25rem;
  }
  &--phone {
    width: 0.81rem;
    height: 0.81rem;
  }
  &--arrow-scroll {
    width: 2rem;
    height: 2rem;
  }
  &--burger {
    width: 2.5rem;
    height: 2.5rem;
  }
  &--kkal {
    width: 3rem;
    height: 3rem;
  }
}

